<h2 mat-dialog-title>Playing Around</h2>

<mat-dialog-content>

  <mat-list>
    <mat-list-item>Slide the input to generate the amount of Fibonacci numbers desired</mat-list-item>
    <mat-list-item>Results are populated in the corresponding card displayed as a paginated table</mat-list-item>
    <mat-list-item>A history of all the inputs requested is populated and is updated real-time</mat-list-item>
    <mat-list-item>Click the <span class="material-icons mx-2">visibility</span> button to view the result for the entry
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions class="justify-end">
  <button mat-button
    mat-dialog-close>Close</button>
</mat-dialog-actions>
