<div class="flex items-center justify-between p-4 border-t border-gray-500">
  <div class="flex items-center">
    <p class="flex items-center text-xs">
      Made with <span class="material-icons text-red-500 mx-2">favorite</span> by <a class="text-blue-500 ml-2"
        href="https://github.com/usamazansari"
        target="_blank">@usamazansari</a>
    </p>
  </div>
  <div class="flex items-center">
    <a href="https://github.com/usamazansari"
      target="_blank">
      <img src="/assets/github-svgrepo-com.svg"
        alt="Github"
        class="w-6 mr-2">
    </a>
    <a href="https://www.linkedin.com/in/usama-ansari-81380080/"
      target="_blank">
      <img src="/assets/linkedin-svgrepo-com.svg"
        alt="LinkedIn"
        class="w-6 ml-2">
    </a>
  </div>
</div>
