<mat-card>
  <mat-card-header>
    <mat-card-title class="font-bold">History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex justify-end items-center">
      <button mat-icon-button
        class="bg-green-500 text-white"
        (click)="refetchHistory()">
        <span class="material-icons">sync</span>
      </button>
    </div>
    <ng-container *ngIf="!!tableData.length; else noData">
      <syncvr-project-table [data]="tableData"
        [columns]="tableColumns"
        (triggerView$)="fetchResult($event)"
        [viewColumn]="true"></syncvr-project-table>
    </ng-container>
    <ng-template #noData>
      <p class="text-center text-red-500 font-bold">No entries in the database</p>
    </ng-template>
  </mat-card-content>
</mat-card>
