<mat-table [dataSource]="dataSource">

  <ng-container *ngFor="let column of columns; let index = index;">
    <ng-container [matColumnDef]="column.identifier">
      <mat-header-cell *matHeaderCellDef
        class="flex-col justify-center items-center">{{ column.name }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"
        class="flex-col justify-center items-center"
        [ngClass]="{'font-mono': !!(index % 2)}">{{ element[column.identifier] }}
      </mat-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"
  showFirstLastButtons></mat-paginator>
