<mat-toolbar class="bg-blue-500 text-white mat-elevation-z4 sticky top-0 left-0 right-0 z-10">
  <div class="flex justify-between items-center w-full">
    <div class="flex">
      <p class="font-bold">Fibonacci Series Generator</p>
    </div>
    <div class="flex items-center">
      <a href="https://github.com/usamazansari/syncvr-project"
        target="_blank"
        mat-icon-button>
        <span class="material-icons">star</span>
      </a>
      <button mat-icon-button
        (click)="openDialog()">
        <span class="material-icons">info</span>
      </button>
    </div>
  </div>
</mat-toolbar>
