@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

// TODO: Usama Ansari - Remove this debugging style
// * {
//   box-sizing: border-box;
//   margin: 5px;
//   padding: 5px;
//   border: 1px solid;
// }
